@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
}

main {
  display: flex;
  flex-direction: column;
}

hr {
  border: unset;
  background-color: #dbdbdb;
  height: 2px;
}

.page_wrapper {
  height: calc(100vh - 4rem);
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  margin: 2rem;
}

.featured_plans {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.cards {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
}

.card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li {
  font-size: 1.5rem;
  font-weight: 900;
}

.card ul li:nth-child(2) i {
  color: #ffffff;
  background-color: #000;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.card1 {
  background-color: #7aaf7a;
}

.card2 {
  color: #ffffff;
  background-color: #000;
}

.card2 ul li:nth-child(2) i {
  background-color: #ffffff;
  color: gray;
}

.card3 {
  background-color: #dda0dd;
}

.card4 {
  background-color: #e4e454;
}

.card h4 {
  font-size: 0.75rem;
}

.card h2 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card p {
  margin-bottom: 3rem;
  font-size: 14px;
  letter-spacing: 0.5px;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_mail_wrapper {
  height: 50px;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.mail_text {
}

.logo_img {
  /* display: flex; */
  /* object-fit: contain; */
  height: auto;
  object-fit: none;
}

.links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.log_in_button {
  color: black;
  text-decoration: none;
}

.get_started_button {
  color: black;
  text-decoration: none;
}

.meniu_button {
}
