@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
}

.page_wrapper {
  height: calc(100vh - 7rem);
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  margin: 2rem;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_mail_wrapper {
  height: 50px;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.mail_text {
}

.logo_img {
  /* display: flex; */
  /* object-fit: contain; */
  height: auto;
  object-fit: none;
}

.links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.log_in_button {
  color: black;
  text-decoration: none;
}

.get_started_button {
  color: black;
  text-decoration: none;
}

.meniu_button {
}
