@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
}

main {
  display: flex;
  flex-direction: column;
}

hr {
}

.page_wrapper {
  height: calc(100vh - 4rem);
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  margin: 2rem;
}

.featured_plans {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.cards {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.card {
  width: 100%;
}

.card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li {
  font-size: 1.5rem;
  font-weight: 900;
}

.card ul li:nth-child(2) i {
  color: #ffffff;
  background-color: #000;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
}

header {
}
.logo_mail {
}

.logo {
}

.log_in_button {
}

.get_started_button {
}
